<div class="p-5">
    <h6 class="text-center">ADD NEW PRODUCT</h6>
    <div class="container w-50 text-center mt-5 bg-light p-3">
       
        <form (ngSubmit)="addNewProduct()" [formGroup]="addProductForm" action="">
            <input formControlName="id" id="pr1" name="p1" class="form-control mt-2 p-2" placeholder="id" type="text">
            <input formControlName="productName" id="pr2" name="p2"class="form-control mt-2 p-2" placeholder="productName" type="text">
            <input formControlName="categoryid"id="pr3" name="p3"class="form-control mt-2 p-2" placeholder="categoryid" type="text">
            <input formControlName="description"id="pr4" name="p4"class="form-control mt-2 p-2" placeholder="description" type="text">
            <input formControlName="isAvailable"id="pr5" name="p5" class="form-control mt-2 p-2" placeholder="isAvailable" type="text">
            <input formControlName="price"id="pr6" name="p6"class="form-control mt-2 p-2" placeholder="price" type="text">
            <input formControlName="rating"id="pr7" name="p7"class="form-control mt-2 p-2" placeholder="rating" type="text">
            <input formControlName="review"id="pr8" name="p8"class="form-control mt-2 p-2" placeholder="review" type="text">
            <input formControlName="productImage"id="pr9" name="p9"class="form-control mt-2 p-2" placeholder="productImage"type="text">
           
            <button class="btn btn-success mt-2">Add Product</button>
        </form>
    </div>
</div>
